
h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 200px;
  color: #EDE3E6;
  text-shadow: 4px 4px 4px #181818;
  text-align:center;
  position: relative
}



.bgimg-1  {
  position: relative;
  opacity: 0.80;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-1 {
  background-image: url("../hongkong.gif");
  min-height: 100%;
  position: relative;
}

.bgimg-2 {
  background-color: : white;
  min-height: 100%;
  z-index: 0;
}



h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  color: white;
  text-align: left;
  vertical-align: top;
  position: relative
}
