
h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 200px;
  color: #EDE3E6;
  text-shadow: 4px 4px 4px #8AB327;
  text-align:center;
  position: relative
  left: 0; // This one is important!
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.1s;
  -webkit-animation-delay: 0.8s;
}



.bgimg-1  {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-1 {
  background-image: url("../maldives.gif");
  min-height: 100%;
  position: relative;
}

.bgimg-2 {
  background-color: : white;
  min-height: 100%;
  z-index: 0;
}



h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  text-align: left;
  vertical-align: top;
  position: relative
}

.match{
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  color: #EDE3E6;
  text-shadow: 4px 4px 4px #73636B;
  text-align:center;
  position: relative;
  transform: translateY(100px);
  margin-bottom: -6%;
}

.flexDiv{
  display: flex;
  justify-content: space-between;
}
