
h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 200px;
  color: #EDE3E6;
  text-shadow: 4px 4px 4px #615F03;
  text-align:center;
  position: relative
  left: 0; // This one is important!
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.1s;
  -webkit-animation-delay: 0.8s;
  margin-bottom: 0px;
}


.bgimg-1  {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-1 {
  background-image: url("../mexicocity.gif");
  min-height: 100%;
  position: relative;
}

.match{
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  color: #EDE3E6;
  text-shadow: 4px 4px 4px #73636B;
  text-align:center;
  position: relative;
  transform: translateY(100px);
  margin-bottom: -9%;
}


.bgimg-2 {
  background-color: : white;
  max-height: 20px;
  z-index: 0;
}

.bgimg-3 {
  background-color: : white;
  min-height: 99%;
  z-index: 0;
}

.point_of_interest {
  width: "100%";
  height: "450";
}

p{
  font-family: 'Lato', sans-serif;
}

a{
  color: #FFBEA3;
}

::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

h6 {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 50px;
  margin-top: 50px;
  padding-left: 2%;
  }


h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  color: white;
  text-align: left;
  vertical-align: top;
  position: relative;
  }

.flexDiv{
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 2%;
}
