<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
  <link rel="stylesheet" href="../resources/css/about.css">
</head>

  <body>
    <div class="bgimg-1">
      <h2>Escape</h2>
    </div>
  <br></br>
  <h1>About Escape.</h1>
  <div class=background> 
  <img src= "../resources/travel.png"></img>
  </div>
  <h3>Have no clue where your next <b>adventure</b> will be?</h3>
  <h3>Escape facilitates the logistics process of <b>traveling</b> and <b>planning</b>.</h3>
  <h3>We'll help you find the <b>right place</b> for you! Fill our quick survey
  and you’ll be matched with a place that suits your needs ands preferences.</h3>
  <h3>Things to do, the best place to stay, <b>We got you covered</b>.</h3>
  </body>

</html>
