<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="../resources/css/contact.css">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
<script src="../resources/contact.js"></script>

</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  </script>

  <div class="bgimg-1">
    <h2><a href="/" style="text-decoration: none; color: black">Escape</a></h2>
  </div>
<br></br>

<form id="contact-form">
  <p>Dear Escape,</p>
  <p>My
    <label for="your-name">name</label> is
    <input type="text" name="your-name" id="your-name" minlength="3" placeholder="(your name here)" required> and</p>

  <p>my
    <label for="email">email address</label> is
    <input type="email" name="your-email" id="email" placeholder="(your email address)" required>
  </p>

  <p> I have a
    <label for="your-message">message</label> for you,</p>

  <p>
    <textarea name="your-message" id="your-message" placeholder="(your msg here)" class="expanding" required></textarea>
  </p>
  <p>
    <button type="submit">
      <svg version="1.1" class="send-icn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="36px" viewBox="0 0 100 36" enable-background="new 0 0 100 36" xml:space="preserve">
        <path d="M100,0L100,0 M23.8,7.1L100,0L40.9,36l-4.7-7.5L22,34.8l-4-11L0,30.5L16.4,8.7l5.4,15L23,7L23.8,7.1z M16.8,20.4l-1.5-4.3
	l-5.1,6.7L16.8,20.4z M34.4,25.4l-8.1-13.1L25,29.6L34.4,25.4z M35.2,13.2l8.1,13.1L70,9.9L35.2,13.2z" />
      </svg>
      <small>send</small>
    </button>
  </p>
</form>

<div class="flexDiv">
  <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://zap-escape.appspot.com/."
        title="Share by Email"> <img id="mail" src="resources/mailart2.png" > </a>

  <a target="_blank" class="twitter-share-button"href="https://twitter.com/intent/tweet?text=https://zap-escape.appspot.com/">
    <img id="twitter" src="resources/twitter.png"></a>

    <!--FB Share Link Button (place wherever you like)-->
   <div class="fb-share-button" data-href="https://zap-escape.appspot.com/"
   data-layout="button" data-size="small" data-mobile-iframe="true"><a id="fb" target="_blank"
   href="https://www.facebook.com/sharer/sharer.php?u=https://zap-escape.appspot.com%2F&amp;src=sdkpreparse">
   <img src="resources/facebook.png" heigth="60" width="60"></a></div>
 </div>

</body>
</html>
