<html>

<head>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="10485582231-vq9nh787v28gf93f8sftlm7qs1kur4uf.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
  <script src="jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../resources/main.css">
  <title> Escape </title>
</head>

<body>
  <!--FB SHARE PT.1 (right after opening body tag)-->
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
      </script>


  <div>
    <div class="buttons">
      {% if user %}
      <a href="{{log_url}}" class="button" id="logoutButton"style="text-decoration: none; color: black">LOGOUT</a>
      </div>
      <p id="greeting">Welcome, {{name}}!</p>
      {% else %}
      <a href="{{log_url}}" class="button" style="text-decoration: none; color: black">LOGIN</a>
      </div>
      {% endif %}
  </div>


  <div class="options">
    <h2> <a href="/about" style="text-decoration: none; color: black;"> + ABOUT </a></h2>
    <h2> <a href="/team" style="text-decoration: none; color: black;">+ TEAM </a></h2>
    <h2> <a href="/contact" style="text-decoration: none; color: black;">+ CONTACT </a></h2>
  </div>
  <div class="together">
    <div class="title">
      <h1>Escape</h1>
    </div>
    <div class="motto">
      <h3> Travel planning, <i>simplified</i>. </h3>
    </div>
      {% if user %}
      <h3><a href="/survey" class="buttons" style="text-decoration: none">Get Started >></a></h3>
      {% else %}
        <h3><a class="buttons" style="text-decoration: none; background-color: gray; color: #9b9b9b" disabled>Get Started</a></h3>
      {% endif %}
  </div>


  <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://zap-escape.appspot.com/."
        title="Share by Email"> <img id="mail" src="resources/mailart2.png" > </a>

  <a target="_blank" class="twitter-share-button"href="https://twitter.com/intent/tweet?text=https://zap-escape.appspot.com/">
    <img id="twitter" src="resources/twitter.png"></a>

    <!--FB Share Link Button (place wherever you like)-->
   <div class="fb-share-button" data-href="https://zap-escape.appspot.com/"
   data-layout="button" data-size="small" data-mobile-iframe="true"><a id="fb" target="_blank"
   href="https://www.facebook.com/sharer/sharer.php?u=https://zap-escape.appspot.com%2F&amp;src=sdkpreparse">
   <img src="resources/facebook.png" heigth="60" width="60"></a></div>



</body>
</html>
