<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
  <script src="jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../resources/main.css">
  <title> Escape </title>
</head>

<body>
  <div id="headerTop">
    {% if user %}
  <p>Hello {{user.nickname()}}
  </p>
  {% endif %}
</div>

  <br></br>
    <h1> <a href="{{log_url}}" style="text-decoration: none; color: black">Escape </a></h1>

    $('#titles').titleSequence([
    {
        content: "Line one",
        pause: 500
    },
    {
        content: "Line two"
    }
    ]);

</body>
</html>
