<html>

<head>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="10485582231-vq9nh787v28gf93f8sftlm7qs1kur4uf.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
  <script src="jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../resources/main.css">
  <title> Escape </title>
</head>

<body>

  <div class="buttons">
    {% if user %}
    <a href="{{log_url}}" class="button" style="text-decoration: none; color: black">LOGOUT</a>
    {% else %}
    <a href="{{log_url}}" class="button" style="text-decoration: none; color: black">LOGIN</a>
    {% endif %}
  </div>

  <div class="options">
    <h2> + ABOUT </h2>
    <h2> + TEAM </h2>
    <h2> + CONTACT </h2>
  </div>
  <div class="together">
    <div class="title">
      <h1>Escape</h1>
    </div>
    <div class="motto">
      <h3> Travel planning, <i>simplified</i>. </h3>
    </div>
      {% if user %}
      <h3><a href="/survey" class="buttons" style="text-decoration: none">Get Started</a></h3>
      {% else %}
        <h3><a class="buttons" style="text-decoration: none; background-color: gray; color: #9b9b9b" disabled>Get Started</a></h3>
      {% endif %}
  </div>



</body>
</html>
