<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
  <script src="jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../resources/css/mexicocity.css">
  <title> You've Been Matched! </title>
</head>

<body>

<div class="bgimg-1">
  <h2><a href="/" style="text-decoration: none; color: white; margin-left: 5px">Escape</a></h2>
  <br></br>
      <h3 id="match"> You've been matched! </h3>
      <h1> Mexico City </h1>
</div>

<div class="flexDiv">
  <div class="bgimg-2">
      <iframe
      width="250%"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDfmgpRu0R7vb8OlC5ycX448N6jv1dkC2c&q=Mexico+City+national+museum+of+anthropology&zoom=13" allowfullscreen>
      </iframe>
  </div>

  <div>
    <div class="point_of_interest">
          <form method="get">
            Search:
          <input type="text" name="interest" placeholder="Hotels"> in
          <input type="text" name="city" placeholder="Mexico City">

          <input type="submit" value="Search in Google Places">
        </form>
    </div>

    <hr/>

    <div class="address">
          {% for place in places_list %}
            <p> <a href="http://google.com/search?q={{place[0]}}" target="_blank" style="color: black">{{ place[0] }}</a>  :
              <br>{{ place[1] }}</p>
              <br> <br>

          {% endfor %}
      </div>
  </div>
</div>

</body>

</html>
