<html>
<head>
  <link rel="stylesheet" href="resources/survey.css">
</head>



<body>
  <h1>Escape Survey</h1>

  <form method="post" action="">
    <h3>Enter a name: <input type="text" name= "noun1"> </input> </h3>

      <h3> Choose a preference: </h3>

      <br> </br>
          <input type="radio" name="landscape" value="Forest">Forest
          </input>
      <br> </br>
          <input type="radio" name="landscape" value="Inner City">Inner-City
          </input>
      <br> </br>
          <input type="radio" name="landscape" value="Rural">Rural
          </input>



    <p> <input type="submit" value="Submit"> </input> </p>
  </form>



</body>



</html>
