<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://surveyjs.azureedge.net/0.12.20/survey.jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/image-picker/0.3.0/image-picker.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/image-picker/0.3.0/image-picker.css" />
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../resources/css/team.css">
</head>

<body>
  <div class="bgimg-1">
    <h2>Escape</h2>
</div>
<br></br>
<h1>Meet the developers.</h1>
<div class="bgimg-2" >
  <img src="../resources/danielnew.PNG" height="550" width="400" alight= "left">
  <img src="../resources/newpaulina.PNG" height="550" width="400" >
  <img src="../resources/josuenew.PNG" height="550" width="400">
</div>
<h4>
  Daniel <b>Lindo</b>
</h4>
<h5>
  Paulina <b>Anzaldo</b>
</h5>
<h6>
  Josue <b>Lopez</b>
</h6>
</body>

</html>
